<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- At which filetypes the app should search - Sperarate multiple with |  -->
    <!-- Example: <add key="sourceFileSearchingPatterns" value="*.html|*.ts" /> -->
    <add key="sourceFileSearchingPatterns" value="*.html|*.ts" />
    <!-- Regex to find translate-ids in your files-->
    <!-- Example: <add key="translateSearchingPattern" value="'##[a-zA-Z0-9-_]+'" /> -->
    <add key="translateSearchingPattern" value="'##[a-zA-Z0-9-_]+'" />
    <!-- Which language-files the app should create - Sperarate multiple with |  -->
    <!-- Example: <add key="languageFileNames" value="de-DE|en-US" /> -->
    <add key="languageFileNames" value="de-DE|en-US" />
    <!-- identifier for components in translation file -->
    <!-- Example: <add key="jsonGroupIdentifier" value="##" /> -->
    <add key="jsonGroupIdentifier" value="##" />
    <!-- start-section-identifier for components in translation file -->
    <!-- Example: <add key="jsonGroupStartIdentifier" value="##start" /> -->
    <add key="jsonGroupStartIdentifier" value="##start" />
    <!-- end-section-identifier for components in translation file -->
    <!-- Example: <add key="jsonGroupEndIdentifier" value="##end" /> -->
    <add key="jsonGroupEndIdentifier" value="##end" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net configSource="Log4Net.config" />
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>